body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("walk.jpeg");
    background-size: cover;
    background-position: center;
}
.sigh-up-from
{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(red, green, blue, alpha);
    background: #ffff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.sigh-up-from h1
{
    color: blue;
    margin-bottom: 30px;
}
.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    border: 1px solid black;
    outline: none;
}
button
{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.SignUp-btn
{
    background-color: green;
}
.Email-btn
{
    background-color: blue;
}
a
{
    text-decoration: none;
}
hr
{
    margin-top: 20px;
    width: 80%;
}
.or
{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}
img
{
    width: 70px;
    margin-top: -50px;
    outline: none;
    border: none;
}
